
{% if rootpage %}
    You are in the root page.
{% else %}
    Key {{ content.key }} value is: {{ content.value }}.<br>
{% endif %}

{% for comment in content.comment_set.all %}
    <p><b>Title</b>: {{ comment.title }}
        <br><b>Body</b>: {{ comment.body }}
        <br><b>Date</b>: {{ comment.date }}
    </p>

{% endfor %}

{% if request.user.is_authenticated %}

<form action="" method="POST">
    Value: <input type="text" name="value">
    <br/><input type="submit" name="action" value="Send Content">
</form>

{% else %}
     Not logged in. <a href='/login'>Login</a>
{% endif %}

